html {
	background: $primary-dark;
	body {
		background: $bg;
	}
}

img {
	max-width: 100%;
}

@media (min-width: $screen-md-min) {
	.eq {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	}
}