html {
	background: $primary-dark;
}

body {
	background: $bg;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
}

img {
	max-width: 100%;
}

@media (min-width: $screen-md-min) {
	.eq {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	}
}