$brand-primary: #00a99d;
$grijs: #e6e6e6;
$infobar-map: #ad1c3c;
$infobar-blog: #a3d165;
$infobar-news: #f9ba41;
$infobar-video: #f47b50;
$infobar-update: #54bce8;
$infobar-page: #6d3a7d;
$infobar-media: #9d897b;
$infobar-project: #7381fa;
$infobar-map: #ad1c3c;
$infobar-testimonial: #007ba8;
