footer {
	text-align: center;
	color:$white;
	.twitter {
		background: $primary-light;
		padding:10px 0;
		color:#333;
	}
	.custom {
		background: $brand-primary;
		padding:10px 0;
		.socialmedia {
			i {
				font-size: 2em;
				margin:0 10px;
			}
		}
		.btn {
			background: $primary-dark;
			color:$white;
		}
	}
	.fixed {
		background: $primary-dark;
		padding:10px 0;
		a {
			display: block;
			color: $footertxt;
			font-size: 2em;
			text-decoration: none;
		}
		.small {
			color: $footertxt;
		}
	}
}