.wp-pagenavi {
	padding: 15px 0;
	.pages {
		//display: none;
	}
	a, span {
		padding:3px 10px;
		margin:0;
		border:1px solid $grijs;
		border-right: 0;
	}
	a {
		text-decoration: none;
		&:hover {
			@extend .current;
		}

	}
	.current {
		background-color: $primary-light;
		color:$brand-primary;
	}
	span:last-child, a:last-child {
		border-right:1px solid $grijs;
		border-top-right-radius: $border-radius-base;
		border-bottom-right-radius: $border-radius-base;
	}
	span:first-child, a:first-child {
		border-top-left-radius: $border-radius-base;
		border-bottom-left-radius: $border-radius-base;
	}
}

footer {
	text-align: center;
	color:$white;
	h3 {
		font-size: 18px;
		margin-top:10px;
	}
	.twitter {
		background: $primary-light;
		padding:10px 0;
		color:#333;
	}
	.custom {
		section {
			padding-bottom:10px 0;
		}
		background: $brand-primary;
		padding:10px 0;
		// .socialmedia {
		// 	i {
		// 		font-size: 2em;
		// 		margin:0 10px;
		// 	}
		// }
		.btn {
			background: $primary-dark;
			color:$white;
		}
	}
	.fixed {
		background: $primary-dark;
		padding:10px 0;
		a {
			display: block;
			color: $footertxt;
			font-size: 2em;
			text-decoration: none;
		}
		.small {
			color: $footertxt;
		}
	}
}