.banner {
	padding-top:15px;
	margin-bottom: 15px;
	.row:first-of-type {
		margin-bottom: 15px;
	}
}

.breadcrumbs {
	background: $light-grijs;
	padding: 10px 15px;
	margin-top: 15px;
	font-size: .9em;
}

@media (min-width: $screen-md-min) {
	nav {
		background: $light-grijs;
		position: relative;
		&.navbar-collapse {
			padding:0;
		}
		ul.navbar-nav {
			li {
				float: left;
				background: $grijs;
				border-right: 1px solid $white;
				&.current-menu-item a, a:hover, &:hover i, &.current-menu-item i, &:hover a {
					background: $primary-light;
					color: $white;
				}
				&.menu-item-home {
				}
				a {
					color:#333;
					padding: 10px 15px;
				}
				i {
					margin-left:5px;
					color: $primary-light;
				}
				.fa-stack {
					margin:-5px 5px -5px -5px;
				}
				.fa-circle {
					color: $brand-primary;
				}
			}
			.dropdown:hover {
				.dropdown-menu {
				    display: block;
				}
			}
			.dropdown-menu {
				border:0;
				padding:0;
				min-width: 0;
				li {
					border: 0;
					border-top:1px solid $white;
					background: $primary-light;
					a {
						padding:10px 15px;
						color:$white;
						&:hover {
							background: $brand-primary;
						}
					}
				}
			}
		}
		.lang {
			position: absolute;
			right: 1px;
			top:1px;
			.fa-circle {
				color: $primary-light;
			}
			.fa-inverse {
				font-size: .8em;
				font-style: normal;
			}
		}
	}
}