.banner {
	padding-top:15px;
	margin-bottom: 15px;
	.row:first-of-type {
		margin-bottom: 15px;
	}
}

.breadcrumbs {
	background: $light-grijs;
	padding: 10px 15px;
	margin-top: 15px;
	font-size: .9em;
	border-radius: $border-radius-base;
}

.navbar-toggle {
	padding:10px 0;
	margin:0 0 0 15px;
}

.lang {
	.fa-inverse {
		font-style: normal;
	}
}

.navbar-brand {
	padding:15px 0;
}

nav {
	#menu-main-nav {
		border-radius: $border-radius-base;
		overflow: hidden;
	}
	ul.navbar-nav {
		a.home {
			padding-left: 42px;
		}
		li {
			background: $grijs;
			border-bottom: 1px solid $white;
			&.current-menu-item a {
				background: $primary-light;
				color: $white;
			}
			&.current-menu-item i {
				color: $white;
			}
			a {
				height: 40px;
				padding:0 15px;
				line-height: 40px;
			}
			i {
				margin-left:5px;
				color: $primary-light;
			}
			.fa-stack {
				margin-right: 5px;
				position: absolute;
				left:10px;
				top:6px;
			}
			.fa-circle {
				color: $brand-primary;
			}
			.glyphicon {
				display: none;
			}
		}
		.dropdown-menu {
			display: block;
			position: relative;
			top: auto;
			left: auto;
			float: none;
			border:0;
			padding:0;
			min-width: 0;
			box-shadow: none;
			li {
				border: 0;
				border-top:1px solid $white;
				text-indent: 15px;
				&.current-menu-item {
					a {
						background: $primary-light;
						color:$white;
					}
				}
				a {
					background: $grijs;
					color:#333;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
	nav {
		#menu-main-nav {
			border-radius: 0;
			overflow: visible;
		}
		border-radius: $border-radius-base;
		background: $light-grijs;
		position: relative;
		&.navbar-collapse {
			padding:0;
		}
		ul.navbar-nav {
			height:40px;
			.menu-item-home, .menu-item-home a {
				border-top-left-radius: $border-radius-base;
				border-bottom-left-radius: $border-radius-base;
			}
			li {
				height: 40px;
				line-height: 40px;
				float: left;
				border-right: 1px solid $white;
				border-bottom: 0;
				a:hover, &:hover a {
					background: $primary-light;
					color: $white;
				}
				&:hover i {
					color: $white;
				}
				a {

				}
			}
			.dropdown:hover {
				.dropdown-menu {
				    display: block;
				}
			}
			.dropdown-menu {
				position: absolute;
				top: 100%;
				left: 0;
				display: none;
				float: left;
				li {
					width:100%;
					text-indent: 0;
					background: $primary-light;
					&.current-menu-item {
						a {
							background: $brand-primary;
						}
					}
					a {
						color:$white;
						&:hover {
							background: $brand-primary;
						}
					}
				}
			}
		}
		// .lang {
		// 	position: absolute;
		// 	right: 1px;
		// 	top:1px;
		// 	.fa-circle {
		// 		color: $primary-light;
		// 	}
		// 	.fa-inverse {
		// 		font-size: .8em;
		// 		font-style: normal;
		// 	}
		// }
		#lang_sel_click {
			position:absolute;
			right: 5px !important;
			top:7px !important;
			.iclflag {
				margin-right:5px;
				top:0 !important;
			}
		}
	}
}

.langbar {
	.lang_sel_click {
		position:relative;
		float: right;
		margin-top: 15px;
		.iclflag {
			margin-right:5px;
			top:-1px !important;
		}
	}
}

@media (min-width: $screen-sm-min) {
	.langbar {
		position: absolute;
		right: 25px;
		top: 7px;
		.lang_sel_click {
			margin-top:0;
		}
	}
}