.banner {
	padding-top:15px;
	margin-bottom: 15px;
	.row:first-of-type {
		margin-bottom: 15px;
	}
}

@media (min-width: $screen-md-min) {
	nav {
		background: $light-grijs;
		position: relative;
		ul {
			li {
				float: left;
				background: $grijs;
				&.current-menu-item {
					background: $primary-light;
				}
				&.menu-item-home {
				}
			}
		}
		.lang {
			position: absolute;
			right: 1px;
			top:1px;
			.fa-circle {
				color: $primary-light;
			}
			.fa-inverse {
				font-size: .8em;
				font-style: normal;
			}
		}
	}
}