.filters {
	background: $light-grijs;
	padding:10px 15px;
	border-radius: $border-radius-base;
	margin-bottom: 15px;
	h4 {
		margin-top: 0;
	}
	#uwpqsf_id {
		border: 0;
		.uwpqsf_submit {
			display: none;
		}
		.uwpqsf_class {
			
		}
		.reset {
			margin-top:5px;
		}
		span {
			font-weight: 400 !important;
			margin:0 0 5px 0;
			padding: 0;
		}
		input {
			margin: 0;
			width: 100%;
			border:1px solid $grijs;
			background: lighten($light-grijs,20%);
			padding:5px 7px;
		}
		input[type=checkbox] {
			display: none;
		}
		label {
			font-weight: 400 !important;
			cursor: pointer;
		}
		input[type=checkbox] + label:before {
			font-family: FontAwesome;
			content: "\f096";
			margin-right:2px;
			width: 15px;
			display: block;
			float: left;
		}
		input[type=checkbox]:checked + label:before {
			content: "\f046";
		}
		select {
			margin: 0;
			width: 100%;
			border:1px solid $grijs;
			background: lighten($light-grijs,20%);
			option {
				padding:2px 5px;
			}
			padding:5px 7px;
			&.multi {
				padding: 0;
			}
		}
		#uwpqsf_btn {
			text-align: left;
			padding-top: 10px;
			margin-bottom: 0;
			input {
				width: auto;
				@extend .btn;
				@extend .btn-default;
			}
		}
	}
}

.umloading {
	width:100%;
	height:20px;
	background:rgba(255, 255, 255, 0.8) url('../images/ajax_loader.gif') no-repeat 50% 50%;
}